%row
  %span.12
    .page-header
      %h1 TankDrop Beta
    .well
      %strong This project is undergoing active development.
      Interface changes will be rolled out almost everyday and new features will be added every weekend.

    .section
      %h2 What's in the beta?
      %h4 v0.2b (July 21, 2012) More Store stuff
      %ul
        %li
          Sellers now have :
          %ul
            %li Specify trade currency (PHP, USD, Gold). This was supposed to be in last release but was cut off.
            %li
              Personal Store Page! After logging in with your FB account, you'll see a 'My Auctions'
              button that will take you to your store page. Link people to this page on your social network accounts
              or wherever to increase visibility of your sales.

      %h4 v0.1b (July 21, 2012) Very Basic features for now
      %ul
        %li
          Sellers can :
          %ul
            %li Upload screenshots of the items they want to sell (1 screenshot = 1 item)
            %li Bulk upload screenshots/items by dragging the screenshots to the "Sell page"
            %li Set a buyout price for their item
            %li Set PHP/USD as trade currency
        %li
          Sellers logged in thru Facebook can :
          %ul
            %li
              See a list of the items they have uploaded before. Guests cannot since we do not keep guest user records in our system
        %li
          Buyers Can :
          %ul
            %li Comment on item and place bids

    .section#upcoming
      %h2 Upcoming Features
      %p
        We will be observing user activity patterns -- how people use the site and we shall adapt.
        Features will be added based on the user-activity data that we collect. This way, the most needed features get implemented first.
        But here's a list of stuff we're planning to release for the next feature build

      %ul
        %li
          Sellers should be able to :
          %ul
            %li Go to a page that shows a 'bid report' for their items (Note : Only for sellers logged in via Facebook)
            %li Optionally specify the item type (Head, Chest Armor, Bow, Wand)
            %li Optionally specify the major stat bonuses for the item (Str, Dex, Vit, Int)
        %li
          Buyers should be able to :
          %ul
            %li Search by item type + budget + a major stat

