<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="type">
          <span>
            <select id="product_item_type" name="product[item_type]" >
              <option value="Armor:Head">Armor:Head</option>
              <option value="Armor:Chest">Armor:Chest</option>
              <option value="Armor:Legs">Armor:Legs</option>
              <option value="Armor:Ring">Armor:Ring</option>
              <option value="Armor:Amulet">Armor:Amulet</option>
              <option value="Armor:Helm">Armor:Helm</option>
              <option value="Armor:Bracers">Armor:Bracer</option>
              <option value="Armor:Shoulder">Armor:Shoulder</option>
              <option value="Armor:Wrist">Armor:Wrist</option>
              <option value="Weapon:Bow">Weapon:Bow</option>
              <option value="Weapon:Sword">Weapon:Sword</option>
              <option value="Weapon:Wand">Weapon:Wand</option>
            </select>
          </span>
        </td>
        <td class="price"><span><input type="text" id="product_price" name="product[price]" class="input small" placeholder="price"></input></span> </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=file.price%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td><span>{%= file.item_type %}</span></td>
            <td class="price"><span>Selling for {%=file.price%}</span> </td>
            <td><a href="" class="btn">Bnet:{%= file.display_seller %}<a></td>
            <td><a href="fb" class="btn btn-primary">FB:Buddy Magsipoc</a></td>
        {% } %}
        <td></td>
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>

<!-- The Templates and Load Image plugins are included for the FileUpload user interface -->
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<%= javascript_include_tag 'drag_drop_upload/jquery.iframe-transport.js' %>
<%= javascript_include_tag 'drag_drop_upload/jquery.fileupload.js' %>
<%= javascript_include_tag 'drag_drop_upload/jquery.fileupload-ui.js' %>
<%= javascript_include_tag 'drag_drop_upload/bootstrap-image-gallery' %>
<!-- add include_tag js files to config.assets.precompile in ...environments/production.rb if you have it in vendor/ assets -->

